In [10]:
import matplotlib.pyplot as plt
import pandas as pd
from  sklearn.linear_model import LinearRegression

In [23]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [24]:
df_refined=df.fillna(df.bedrooms.median())

In [25]:
df_refined

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [35]:
reg=LinearRegression()
reg.fit(df_refined[['area','bedrooms','age']],df_refined[['price']])

LinearRegression()

In [42]:
ans=reg.predict([[4000,5.0,8.5]])[0][0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [43]:
print(ans)

759047.5678002583

In [44]:
print(reg.coef_)
print(reg.intercept_)

[[  112.06244194 23388.88007794 -3231.71790863]]
[221323.0018654]